body{
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
#main{
    display: flex;
    color: #fff;
    align-items: center;
}